.block_h3_span {
  font-size: inherit;
}

.block_h3_span_bold {
  font-style: italic;
}
.block_h3_span_italic {
  font-style: italic;
}
.block_h3_span_line_through {
  text-decoration: line-through;
}
.block_h3_span_underline {
  text-decoration: underline;
}