
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
h3 {
  font-size: larger;
}
h4 {
  font-size: large;
}
h5 {
  font-size: medium;
}
h6 {
  font-size: small;
}

p,
a,
span,
select,
option 

{
  font-size: medium;
}

a {
  text-decoration: none;
}
